<div class="container">
    <div class="profil-form mx-auto">
        <h2>Profile</h2> <br/>
            <form>
                <label for="identifiant">Username</label><br/>
                <input type="text" placeholder="username" name="identifiant" [(ngModel)] ="username" required><br/>
                <label for="email">Email</label><br/>
                <input type="email" placeholder="email" name="email" [(ngModel)] ="email" required><br/>
                <label for="password">Password</label><br/>
                <input type="password" placeholder="Enter new password" name="password" [(ngModel)] ="password" required><br/>
                <label for="confirmPassword">Confirm password</label><br/>
                <input type="password" placeholder="Enter same password" name="confirmPassword" [(ngModel)] ="confirmPassword" required><br/>
                <button (click)=cancel() class="btn btn-primary" id="cancel-button">Cancel</button>
                <button (click)=update() class="btn btn-primary" id="update-button"
                [disabled]="username === '' || email === '' || password === '' || confirmPassword === ''">
                Save changes</button><br/><br/>
                <div class="message-row">{{message}}</div>
            </form>
    </div>
</div>
