.profil-form {
    margin-top: 50px;
    top: 100px;
    left: 50px;
    width: 500px;
    height: 600px;
    padding: 80px 40px;
    background: rgb(255, 255, 255, 0.95);
    box-shadow: 12px 12px 22px rgb(77, 75, 75);
}

.profil-form form {
    margin-left: 70px;
}

.profil-form h2 {
    padding: 0;
    color: black;
    text-align: center;
}

.profil-form label {
    margin: 0;
    padding: 0;
    color: black;
    text-align: center;
    font-weight: bold;
}

.profil-form input {
    width: 200px;
    margin-bottom: 20px;
    color: black;
}


.profil-form input[type=text],
.profil-form input[type=email],
.profil-form input[type=password]{
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    outline: none;
    height: 35px;
    width: 80%;
    color:black;
    font-size: 15px;
}

#update-button {
    margin-left: 85px;
    border-color: black;
    background-color: rgb(207, 120, 21);
    text-align: center;
}

#cancel-button {
    border-color: black;
    background-color: rgb(207, 120, 21);
    text-align: center;
}

.message-row {
    color: black;
    font-size: 15px;
}