.header {
    width:100%;
    height: 40px;
    background-color: #0d2297;
    color: white;
}

.nav-item{
    padding:2px;
    margin-left: 7px;
}

.user-log {
    color: white;
    margin-top: 5px;
}

#font-form {
    color: rgb(207, 120, 21);
    font-size: 18px;
}

#font-form-title {
    color: rgb(207, 120, 21);
    font-size: 18px;

}

#dropdown-float {
    float: right;
}

#font-user {
    margin-right: 10px;
    color: rgb(207, 120, 21);
    font-size: 18px;
}