<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <a class="navbar-brand" id="font-form-title" href="#">MyMarketPlace</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse,#navbar-nav" aria-controls="navbarCollapse"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
    <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"><a id="font-form" routerLink="/">Home</a></li>
            <li class="nav-item"><a id="font-form" *ngIf="loginService.isLoggedIn()" routerLink="/dashboard">Dashboard</a></li>
            <li class="nav-item"><a id="font-form" *ngIf="loginService.isLoggedIn()" routerLink="/portfolio">Portfolio</a></li>
            <li class="nav-item"><a id="font-form" *ngIf="!loginService.isLoggedIn()" routerLink="/register">Subscribe</a></li>
        </ul>
      </div>
      <ul class="navbar-nav ml-auto" id="dropdown-float">
        <div class="collapse navbar-collapse">
        <div class="btn-group dropleft">
          <a href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i id="font-form" class="fas fa-user"></i>
          </a>
          <div class="dropdown-menu">
            <a class="dropdown-item" *ngIf="loginService.isAdminLoggedIn()" routerLink="/userlist">User List</a>
            <a class="dropdown-item" *ngIf="!loginService.isLoggedIn()" routerLink="/login">Login</a>
            <a class="dropdown-item" *ngIf="loginService.isLoggedIn() && !loginService.isAdminLoggedIn()" routerLink="/profil">Profile</a>
            <a class="dropdown-item" *ngIf="loginService.isLoggedIn()" routerLink="/logout">Logout</a>
            <a class="dropdown-item" *ngIf="loginService.isLoggedIn() && !loginService.isAdminLoggedIn()" routerLink="/unsubscribe" data-toggle="modal" id="openModal" data-target="#ModalCenter">Unsubscribe</a>
          </div>
        </div>
        <li class="nav-item"><a id="font-user" *ngIf="loginService.isLoggedIn()">Hello {{currentUser}}</a></li>
      </div>
    </ul>
</nav>