    <div class="container-fluid" class="footer">
        <p>The purpose of this application is to provide with financial market recommandations but it can not guarantee any capital gain.</p>
    </div>