<div class="container">
    <div class="login-form mx-auto">
        <h2>Login</h2> <br/>
            <form>
                <label for="identifiant">Username</label> <br/>
                <input type="text" placeholder="Enter username" name="identifiant" [(ngModel)] ="username"><br/> <br/>
                <label for="password">Password</label><br/>
                <input type="password" placeholder="Enter password" name="password" [(ngModel)] ="password" required><br/>
                <button type="button" class="btn btn-primary" id="login-button" (click)=checkLogin()>Login</button>
            </form>
            <br/>
        <div class="message-row">{{message}}</div>
    </div>
</div>