  <div class="modal fade" id="ModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="false">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Unsubscribe</h5>
          <button type="button" class="close" (click)="unsubscribeCancel()" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="false">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          You are about to unsubscribe.<br/>
          Your personnal data will be permanently deleted.<br/>
          Do you confirm ? 
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" (click)="unsubscribeCancel()" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" (click)="unsubscribeOk()">Yes</button>
        </div>
      </div>
    </div>
  </div>