<div class="container-fluid">
    <div class="card my-5">
        <div class="card-body">
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                    <tr class="data-align">
                        <th scope="col">Underlying</th>
                        <th scope="col">Purchase Date</th>
                        <th scope="col">Purchase Price</th>
                        <th scope="col">Last close</th>
                        <th scope="col">Delta</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let portfolio of portfolios">
                        <td class="data-align">{{portfolio.stockName}}</td>
                        <td class="data-align">{{portfolio.purchaseDate}}</td>
                        <td class="data-align">{{portfolio.purchasePrice}}</td>
                        <td class="data-align">{{portfolio.price}}</td>
                        <td class="data-align">{{portfolio.delta}}</td>
                        <td><button type="button" class="btn btn-danger" id="button-sell-form" (click)="onTrash(portfolio.id)">Sell</button></td>
                    </tr>
                </tbody>
            </table>
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Global portfolio performance</th>
                    </tr>
                </thead>
                <tbody>
                        <td>{{performancePercentage}}</td>
                </tbody>
            </table>
        </div>
        <div *ngIf="noPortfolio">
            <h3 style="text-align:center;" id="margin-no-portfolio">No stock available in your portfolio. Please buy an underlying from your dashboard</h3>
          </div>
    </div>
</div>