<div class="container-fluid">
    <div class="card my-5">
        <div class="card-body">
            <table class="table table-bordered table-striped">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Username</th>
                        <th scope="col">Email</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let user of users">
                        <td>{{ user.identifiant }}</td>
                        <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
                        <td><button class="btn btn-secondary" (click)="onTrash(user.id)">Remove user</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>