<div class="container-fluid" id="margin">
  <div class="row" id="row-list-form">
      <label id="label-list">Choose an underlying:</label>
      <div id="margin-list"> <br/>
        <select (change)="onSelect($event)"><br/>
          <option *ngFor="let stock of stocks">
            <tr>
              <td>{{stock.symbol}}</td> &nbsp;
              <td>{{stock.name}}</td>
            </tr>
          </option>
        </select>
        <button type="button" (click)="addToDashboard(selectedStock)" id="margin-button-add" class="btn btn-dark">Add</button>
      </div>
    </div> <br/>
  <div class="row">
    <div class="col-9" id="margin-cards">
      <div *ngIf="noDashboard">
        <h3 style="text-align:center;" id="margin-no-dashboard">No stock available in your dashboard. Please choose an underlying to follow.</h3>
      </div>
      <div class="card border-secondary mb-4" id="card-form" style="max-width: 75rem;" *ngFor="let dashboard of dashboards">
        <div class="row" id="margin-card">
          <div class="col-2">
            <label id="label-first-col">Stock name</label>
            <p class="card-text" id="margin-first-col">{{dashboard.stockName}}</p>
            <label id="label-first-col">Delta</label>
            <p class="card-text" id="margin-first-col">{{dashboard.delta}}</p>
            <label id="label-first-col">Price</label>
            <p class="card-text" id="margin-first-col">{{dashboard.price}}</p>
            <button type="button" id="button-buy" class="btn btn-success" (click)="buy(dashboard.symbol)">Buy</button>
          </div>
          <div class="col-5">
            <canvas id={{dashboard.stockName}}></canvas>
          </div>
          <div class="col-2">
            <label id="label-front">Low</label>
            <p class="card-text" id="margin-data">{{dashboard.low}}</p>
            <label id="label-front">Open</label>
            <p class="card-text" id="margin-data">{{dashboard.open}}</p>
          </div>
          <div class="col-2">
            <label id="label-front">High</label>
            <p class="card-text" id="margin-data">{{dashboard.high}}</p>
            <label id="label-front">Volume</label>
            <p class="card-text" id="margin-data">{{dashboard.volume}}</p>
            <label id="label-front">Recommandation</label>
            <p class="card-text" id="margin-data" [ngStyle]="{'color':dashboard.advise === 'Buy' ? 'green' : 'red' }">
              {{dashboard.advise}}</p>
          </div>
          <div class="col" id="div-delete">
              <i type="button" class="fas fa-window-close" id="button-delete" (click)="removeDashboard(dashboard.symbol)">
              </i>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>