#margin {
    margin-top:20px;
    margin-bottom:40px;
}

#margin-no-dashboard {
    margin-top:300px;
    margin-left:130px;
    -webkit-text-stroke: 2px black;
    color: white;
    font-weight: bold;
    font-size: 30px;
}

#margin-cards {
    margin-left: 300px;
}

#label-front {
    font-weight:bold;
    margin-left:50px;
}

#label-first-col {
    font-weight:bold;
    margin-left:10px;
}

#margin-first-col {
    margin-left:10px;
}

#margin-data {
    margin-left:50px;
}

#margin-card {
    margin-top:10px;
    margin-bottom:10px;
}

.button-buy-form {
    border-radius: 5px;
    background-color: rgb(6, 167, 6);
}

#margin-button-add {
    color: rgb(207, 120, 21);
    margin-left: 200px;
    margin-top: -52px;
    width: 15%;
    font-size: 16px;
}

#button-remove {
    align-items: center;
    justify-content: center;
    width: 40%;
    height: 12%;
}

#button-delete {
    color: red;
    font-size: 120%;
}

#div-delete {
    margin-left: 35px;
}

.chart-form {
    size:40px;
}

.btn {
    border: none;
    color: white;
    padding: 0px 5px;
    width: 40%;
    height: 11,5%;
    font-size: 20px;
    margin-left: 20px;
    cursor: pointer;
  }

  .container-fluid h3 {
      color: black;
  }

  #label-list {
      color: black;
      font-weight: bold;
  }

  #margin-list {
      margin-left: -10px;
  }

  #card-form {
      background-color:rgba(255, 255, 255, 0.97);
      margin-left: 20px;
  }

  #row-list-form {
      margin-left: 320px;
  }

  .container-fluid select {
    margin-left: -158px;
  }

  #button-buy {
      margin-left: 10px;
      font-size: 15px;
      width: 30%;
      height: 10%;
  }