/* You can add global styles to this file, and also import other style files */
body {
    background: url('src/app/images/finance-photo-3-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}