.container-fluid{
    margin-top: 20px;
}

.container-fluid h3,
.container-fluid h2 {
    color: black;
}

#label-first-col {
    font-weight:bold;
    margin-left:10px;
}

#label-delta {
    font-weight:bold;
    margin-left:25px;
}

#margin-first-col {
    margin-left:10px;
}

#margin-delta {
    margin-left:25px;
}

#icon-size-gold {
    color:gold;
    margin-left:50px;
    margin-top:20px;
}

#icon-size-silver {
    color:silver;
    margin-left:50px;
    margin-top:20px;
}

#icon-size-bronze {
    color:rgba(255, 102, 0, 0.322);
    margin-left:50px;
    margin-top:20px;
}

#card-form {
    background-color:rgba(255, 255, 255, 0.97);
    margin-top: 10px;
    margin-bottom: 20px;
    box-shadow: 12px 12px 22px rgb(77, 75, 75);
}

.label-card-up {
    margin-top: 10px;
}

.label-card-down {
    margin-bottom: 10px;
}