<div class="container-fluid">
  <h2 style="text-align:center;">The 10 best performances</h2>
  <br/>
  <div class="row-12">
    <!--<h3 style="text-align:center;">Top 3</h3> <br/>-->
      <div class="card-deck" id="margin-card">
          <div class="card border-secondary mb-4" id="card-form" *ngFor="let stock of stockArrayFirst">
            <div class="row" id="margin-card">
            <div class="col-6">
              <label id="label-first-col" class="label-card-up">Stock name</label>
              <p class="card-text" id="margin-first-col">{{stock.name}}</p>
              <label id="label-first-col">Price</label>
              <p class="card-text" id="margin-first-col">{{stock.close}}</p>
              <label id="label-first-col">Delta</label>
              <p class="card-text" id="margin-first-col" class="label-card-down">{{stock.percent_change}}%</p>
            </div>
            <div class="col-6">
              <i class="fas fa-medal fa-10x" id="icon-size-gold"></i>
            </div>
          </div>
        </div>
        <div class="card border-secondary mb-4" id="card-form" *ngFor="let stock of stockArraySecond">
          <div class="row" id="margin-card">
          <div class="col-6">
            <label id="label-first-col" class="label-card-up">Stock name</label>
            <p class="card-text" id="margin-first-col">{{stock.name}}</p>
            <label id="label-first-col">Price</label>
            <p class="card-text" id="margin-first-col">{{stock.close}}</p>
            <label id="label-first-col">Delta</label>
            <p class="card-text" id="margin-first-col" class="label-card-down">{{stock.percent_change}}%</p>
          </div>
          <div class="col-6">
            <i class="fas fa-medal fa-10x" id="icon-size-silver"></i>
          </div>
        </div>
      </div>
      <div class="card border-secondary mb-4" id="card-form" *ngFor="let stock of stockArrayThird">
        <div class="row" id="margin-card">
        <div class="col-6">
          <label id="label-first-col" class="label-card-up">Stock name</label>
          <p class="card-text" id="margin-first-col">{{stock.name}}</p>
          <label id="label-first-col">Price</label>
          <p class="card-text" id="margin-first-col">{{stock.close}}</p>
          <label id="label-first-col">Delta</label>
          <p class="card-text" id="margin-first-col" class="label-card-down">{{stock.percent_change}}%</p>
        </div>
        <div class="col-6">
          <i class="fas fa-medal fa-10x" id="icon-size-bronze"></i>
        </div>
      </div>
    </div>
      </div>  
      <div class="card-deck" id="margin-card">
        <div class="card border-secondary mb-4" id="card-form" *ngFor="let stock of stockArrayFiltered">
              <label id="label-first-col" class="label-card-up">Stock name</label>
              <p class="card-text" id="margin-first-col">{{stock.name}}</p>
              <label id="label-first-col">Price</label>
              <p class="card-text" id="margin-first-col" class="label-card-down">{{stock.close}}</p>
              <label id="label-first-col">Delta</label>
              <p class="card-text" id="margin-first-col">{{stock.percent_change}}%</p>
            </div> &nbsp;
        </div>
  </div>
  </div>