<div class="container">
    <div class="register-form mx-auto">
        <h2>Subscribe</h2> <br/>
            <form>
                <label for="identifiant">Username</label><br/>
                <input type="text" placeholder="Enter username" name="identifiant" [(ngModel)] ="username" required><br/>
                <label for="email">Email</label><br/>
                <input type="email" placeholder="Enter email" name="email" [(ngModel)] ="email" required><br/>
                <label for="password">Password</label><br/>
                <input type="password" placeholder="Enter password" name="password" [(ngModel)] ="password" required><br/>
                <label for="confirmPassword">Confirm password</label><br/>
                <input type="password" placeholder="Enter same password" name="confirmPassword" [(ngModel)] ="confirmPassword" required><br/>
                <button (click)=register() class="btn btn-primary" id="register-button" [disabled]="username === '' || email === '' || password === ''">Register</button><br/><br/>
                <div class="message-row">{{message}}</div>
                <div *ngIf="isWellRegistered" class="message-row">
                    <p>You have successfully registered. Please click <a routerLink="/login">here</a> to login</p>
                </div>
            </form>
    </div>
</div>
