.register-form {
    margin-top: 50px;
    top: 100px;
    left: 50px;
    width: 400px;
    height: 600px;
    padding: 80px 40px;
    background: rgb(255, 255, 255, 0.95);
    box-shadow: 12px 12px 22px rgb(77, 75, 75);
}

.register-form h2 {
    padding: 0;
    color: black;
    text-align: center;
}

.register-form label {
    margin: 0;
    padding: 0;
    color: black;
    text-align: center;
}

.register-form input {
    width: 200px;
    margin-bottom: 20px;
    color: black;
}


.register-form input[type=text],
.register-form input[type=email],
.register-form input[type=password]{
    border: none;
    border-bottom: 1px solid black;
    background: transparent;
    outline: none;
    height: 35px;
    color:black;
    font-size: 15px;
}

#register-button {
    margin-left: 120px;
    border-color: black;
    background-color: rgb(207, 120, 21);
    text-align: center;
}

.message-row {
    color: black;
    font-size: 15px;
}